@media (min-width: 320px) {
  .card.profile {
    background: #5746ea;
    top: 20px;
    text-align: left;
    padding: 40px;
    min-height: auto;
    transition: 0.3s;
  }

  .card.profile * {
    transition: 0.3s;
  }

  .profile .name {
    font-weight: 300;
    font-size: 42px;
    margin: 0 auto;
    letter-spacing: 2px;
    font-family: Luckiest Guy, sans-serif;
  }

  .profile textarea {
    font-weight: 300;
    font-size: 42px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 100%;
    background: transparent;
    outline: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-family: Luckiest Guy, sans-serif;
    resize: none;
    width: 100%;
  }

  .edit-button {
    cursor: pointer;
    opacity: 0.7;
  }

  .edit-button:hover {
    opacity: 1;
  }

  .edit-submit-button {
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: Rubik, sans-serif;
    color: #ffffff;
    margin: 32px auto 7px;
    padding: 0;
  }

  .profile img {
    max-height: 100%;
    max-width: 200px;
    width: 100%;
    object-fit: contain;
    object-position: center;
    position: relative;
    left: 0;
    border-radius: 100%;
    border: none;
    min-height: 100px;
  }

  .profile p {
    margin: 45px auto 7px;
    opacity: 0.7;
  }

  .profile {
    z-index: 1;
  }

  .card.period {
    z-index: 0;
    padding: 40px 40px 20px;
    height: 100%;
  }
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .card.profile {
    min-height: auto;
    top: 30px;
  }
}

@media (min-width: 1200px) {
  .card.profile {
    min-height: 57vh;
  }
}

@media (min-width: 1440px) {
  .card.profile {
    min-height: 510px;
    /* max-width: 360px;
    min-width: 330px; */
  }
}
